body {
    font-family: 'Outfit', sans-serif;
    background-color: white;
}

html {
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

.card {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(211, 78%, 87%);
    /* color: hsl(212, 45%, 8%); */
    box-shadow: 10px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 80px 450px;
    margin: 100px 50px;
}
.qr-code {
    width: 100%;
    max-width: 350px;
    border-radius: 10px;
    margin: 10px 10px 0;
}

h1 {
    font-size: 1.5rem;
    margin: 20px 10px 10px;
}

p {
    font-size: 0.9rem;
    text-align: center;
    color: hsl(212, 45%, 38%);
}
